*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
html,body{
    min-height: 100%;
}
@font-face {
    font-family: Candy;
    src: url(EmilysCandy-Regular.ttf);
}
@font-face {
    font-family: Indie;
    src: url(IndieFlower-Regular.ttf);
}
@font-face {
    font-family: Anton;
    src: url(Anton-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 110vh;
    background-color:#BC7359;
}
/*header*/

.cabecalho{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    background-color: #52322F;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);   /*deixar todos os item alinhados*/


}

.titulo{
    
    position: absolute;
    left: 300px;
}
.titulo h1{
    margin: 10px;
}

.menu{
    display: flex;
    justify-content: flex-start;  /*deixar a logo no lado esquerdo e o menu no lado direito*/
    list-style: none;
    flex-wrap: wrap; /*para os itens quebrarem quando atingir o max*/
}

.logo{
    width:90px;
    height: 90px;
    border-radius: 10px;

}
.menu li a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;

}
.menu li a:hover{
    
    background-color: rgb(77, 75, 75);
}
h1{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
/*fim do header*/

/* meio da página inicial */
.banner1{
    background-image: url(../imagens/brigadeiros-tipicos-do-brasil-varios-sabores-em-mesa-de-madeira_92534-443.jpg); /* banner de boas-vindas da página inicial */
    background-size: cover;
    display: flex;
    align-items: center; 
    font-family: Candy;
    font-size: 40px;
    text-shadow: 5px 5px black;
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
}

.texto{ /* div para texto de apresentação da empresa */
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}
.texto p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 20px 20px 15px 20px;
}
.texto h1{
    color: black; 
    font-family: Candy;
}
#tituloProdutos{
    font-family: Candy; 
    text-shadow: 2px 2px black;
}
.banner2{ /* banner para linkar com a página de serviços */
    background-image: url(../imagens/Trufas-doces-finos-gourmet-o87a6xc36halaa9id2o9hnrokb1oon0j5s4mcntnrc-1200x480.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 250px;
    margin-top: 20px;
}
#queTal{
    font-family: Candy; 
    font-size: 40px;
    text-shadow: 2px 2px black; 
}
#peçaJa{
    font-family: Indie;
    color: rgb(190, 103, 125);
    text-shadow: 2px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
}
#botaoBanner2{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    font-family: Cambria;
    border-radius: 10px;
    color: #1d1e1f;
}
#botaoBanner2:hover{
    padding: 12px;
}
/* fim do conteúdo da página inicial */

/* Página da equipe */
.boxTextoEquipe{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.boxTextoEquipe p{
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin: 0 90px 0 90px;
}
.boxTextoEquipe img{
    width: 750px;
    height: 450px;
}
#equipeH1{
    margin-bottom: 40px;
}
.equipeBox{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #52322F;
    margin-top: 60px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
}
.equipeBox p{
    font-size: 22px;
    color: #fff;
}
.contatoEquipe{
    display: flex;
    text-align: center;
    background-color: #52322F;
    margin-top: 60px;
    height: 220px;
    border: 1px solid;
    flex-direction: column;
}
.contatoEquipe p{
    color: #fff;
    font-size: 20px;
    font-family: Anton;
    margin: 30px 0 30px 0;
}
.equipeBox p::first-letter, .textoEquipe p::first-letter, #squadH1::first-letter{
    font-size: 50px;
}
#squadH1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 60px 0 80px 0;
}
/*cards dos funcionários da empresa*/
.boxEquipe{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
}
.integrante{
    display: flex;
    border: 1px solid;
    border-radius: 30px;
    width: 45%;
    margin-bottom: 30px;
}
.perfilEquipe{
    width: 100%;
    margin-top: 20px;
}
.integrante img{
    width: 200px;
    height: 200px;
    margin: 10px 0 10px 10px;
    border-radius: 50%;
}
.perfilEquipe p, .perfilEquipe h3, .perfilEquipe h4{
    font-family: Roboto;
    margin: 0 20px 15px 20px;
}

@media (max-width: 1300px){
    .boxEquipe, .boxTextoEquipe{
        flex-direction: column;
    }
    .integrante{
        width: 80%;
    }
    .perfilEquipe{
        width: 100%;
    }
    .perfilEquipe p, h3, h4{
        margin-bottom: 15px; 
    }
    .boxTextoEquipe p{
        margin: 20px 0 40px 0;
    }
    .boxTextoEquipe img{
        width: 600px;
        height: 550px;
    }
}
/* Fim da página da equipe */

/*meio da página produto*/
.container{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.container div{
    flex: 1 1 0px;
    margin: 10px;

}
.item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    height: 350px;

}
.item p{
    margin-top: 20PX;
    text-align: center;
    color: #fff;
}
.preco_docinho{
    text-align: center;
}
.botao_comprar{
    margin-left: 35%;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(77, 179, 67);
    
}
img{
    width: 100%;
    border-radius: 5px;
}
/* fim do meio da página produtos*/



/*meio da página sobre*/
.coluna1{
    width: 50%;
    height: 480px;
    
}
.coluna2{
    width: 50%;
    height: 480px;

}
.nossa_empresa{
    display: flex;
}
.texto_nossa_empresa{

     display: flex;
     flex-direction: column;
     width: 75%;
     color: #fff;
        
        
}
 .separador{

     margin-top: 120px;
}

 .texto_nossa_empresa p{ 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 20px 20px 15px 20px;
    }
.foto_sobre{
    width: 100%;
    margin-top: 50px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.banner_separador::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 800;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    min-height: 200px;
    margin: auto 0px;
    background-image: url(../imagens/doces-em-goiania-lugares-para-provar-verdadeiras-delicias-9.jpg);
    
   

}
.banner_separador p{
    font-size: 35px;
    font-family: Anton;
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    top: 60px;

}

.div_titulo_local{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 80px;
    
}
.h2_titulo_local{
    text-align: center;
    color: #fff;
}
.nosso_local{
    display: flex;
    
}

.coluna3{
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #fff;
     
    
}

.logo_local{
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    
}
.logos_local{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 55px;
    width: 55px;
    height: 300px;

}
.coluna4{
    width: 50%;
    height: 450px;

}
.mapa{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}



/*fim da página sobre*/


/*footer*/
footer{
    display: flex;
    align-items: center;   /*deixar todos os item alinhados*/
    flex-wrap: wrap; /*para os itens quebrarem quando atingir o max*/
    height: 150px;
    width: 100%;
    position: static  /* fixed*/;
    bottom: 0;
    background-color: #52322F;
}
.col1{
    width: 20%;
    height: 80px;
    margin-left: 1%;
    border-radius: 5px;


}
.col2{
    width: 20%;
    height: 80px;
    margin-left: 1px;
    border-radius: 5px;
    

}
.t-footer{
    color: #fff;
}
.col1_conteudo{
    list-style: none;
}
.col1_conteudo li a{
    display: block;
    color: rgb(255, 250, 250);
    text-decoration: none;

}
.col3{
    width: 20%;
    height: 80px;
    margin-left: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

/*.button_contato{
    width:105px;
    padding: 8px;
    margin-right: 5px;
    border-radius:15px;
    background-color: rgb(255, 169, 57);
}*/

.imgs_rodape{
    width: 40px;
    height: 40px;
    margin-left: 3%;
    border-radius: 10px;
    /*background-color: rgb(190, 103, 125);*/
}
.logo_rodape{
    width: 120px;
    height: 120px;
}


/*Inicio do Form*/
.box-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    width: 75%;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
section form{
    display: flex;
    flex-direction: column;
    background-color: #52322F;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
}
section h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Candy;
}
form label{
    font-family: Indie;
    font-size: 17px;
    margin-bottom: 10px;
    color: #fff;
}
form input{
    border-radius: 30px;
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form textarea{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form textarea:focus{
    border-radius: 15px;
}
form button{
    background: transparent;
    border: solid white;
    color: white;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 15px;
}
form button:hover{
    background-color: white;
    color: #52322F;
    border-radius: 15px;
}
/*Fim do Form*/

/*inicio do slide*/
.slide_principal{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 1540px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 25px;
  }
  
  .slide_principal li {
    list-style: none;
    position: absolute;
  }
  
  .slide_principal img{
    width: 1540px;
    height: 400px;
    margin: auto;
    vertical-align: top;
    border-radius: 5px;
  }
  
  .slide_principal input{
    display: none;
  }
  
  .slide_principal label{
    background-color: rgb(247, 237, 237);
    bottom: 10px;
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
  }
  
  .slide_principal label:hover{
    background-color: rgb(130, 134, 133);
  }
  
  .slide_principal li:nth-child(1) label{
    left: 10px;
  }
  .slide_principal li:nth-child(2) label{
    left: 30px;
  }
  
  .slider li:nth-child(3) label{
    left: 100px;
  }
  
  .slide_principal img{
    opacity: 0;
    visibility: hidden;
  }
  
  .slide_principal li input:checked ~img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  
  
/*Fim do Slide*/
