*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
html,body{
    min-height: 100%;
}
@font-face {
    font-family: Candy;
    src: url(EmilysCandy-Regular.ttf);
}
@font-face {
    font-family: Indie;
    src: url(IndieFlower-Regular.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(Roboto-Condensed.ttf);
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 110vh;
    background-color:#BC7359;
}
.cabecalho{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    background-color: #52322F;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);   /*deixar todos os item alinhados*/


}

.titulo{
    
    position: absolute;
    left: 350px;
}
.titulo h1{
    margin: 0px;
}

.menu{
    display: flex;
    justify-content: flex-start;  /*deixar a logo no lado esquerdo e o menu no lado direito*/
    list-style: none;
    flex-wrap: wrap; /*para os itens quebrarem quando atingir o max*/
}

.logo{
    
    border-radius: 10px;

}
.menu li a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;

}
.menu li a:hover{
    
    background-color: rgb(77, 75, 75);
}
h1{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
/* meio da página inicial */
.banner1{
    background-image: url(../imagens/brigadeiros-tipicos-do-brasil-varios-sabores-em-mesa-de-madeira_92534-443.jpg); /* banner de boas-vindas da página inicial */
    background-size: cover;
    display: flex;
    align-items: center; 
    font-family: Candy;
    font-size: 40px;
    text-shadow: 5px 5px black;
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
}
.texto{ /* div para texto de apresentação da empresa */
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}
.texto p{
    font-family: Roboto; 
    text-align: center;
    font-size: 20px;
    margin: 20px 20px 15px 20px;
}
.texto h1{
    color: black; 
    font-family: Candy;
}
#tituloProdutos{
    font-family: Candy; 
    text-shadow: 2px 2px black;
}
.banner2{ /* banner para linkar com a página de serviços */
    background-image: url(../imagens/Trufas-doces-finos-gourmet-o87a6xc36halaa9id2o9hnrokb1oon0j5s4mcntnrc-1200x480.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 250px;
    margin-top: 20px;
}
#queTal{
    font-family: Candy; 
    font-size: 40px;
    text-shadow: 2px 2px black; 
}
#peçaJa{
    font-family: Indie;
    color: rgb(190, 103, 125);
    text-shadow: 2px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
}
#seuPedido{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    font-family: Cambria;
    border-radius: 10px;
    color: #1d1e1f;
}
#seuPedido:hover{
    padding: 12px;
}
/* fim do conteúdo da página inicial */
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.container div{
    flex: 1 1 00px;
    margin: 10px;
}
.item p{
    font-family: Roboto; 
    text-align: center;
}
img{
    width: 100%;
    border-radius: 5px;
}
/*footer*/
footer{
    display: flex;
    align-items: center;   /*deixar todos os item alinhados*/
    flex-wrap: wrap; /*para os itens quebrarem quando atingir o max*/
    height: 150px;
    width: 100%;
    position: static  /* fixed*/;
    bottom: 0;
    background-color: #52322F;
}
.col1{
    width: 20%;
    height: 80px;
    margin-left: 1%;
    border-radius: 5px;


}
.col2{
    width: 20%;
    height: 80px;
    margin-left: 1px;
    border-radius: 5px;
    

}
.t-footer{
    color: #fff;
}
.col1_conteudo{
    list-style: none;
}
.col1_conteudo li a{
    display: block;
    color: rgb(255, 250, 250);
    text-decoration: none;

}
.col3{
    width: 20%;
    height: 80px;
    margin-left: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

/*.button_contato{
    width:105px;
    padding: 8px;
    margin-right: 5px;
    border-radius:15px;
    background-color: rgb(255, 169, 57);
}*/

.logo_rodape,.redesSociais{
    width: 40px;
    height: 40px;
    margin-left: 3%;
    border-radius: 10px;
    /*background-color: rgb(190, 103, 125);*/
}


/*Inicio do Form*/
.box-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 75%;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
section form{
    display: flex;
    flex-direction: column;
    background-color: #52322F;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
}
section h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Candy;
}
form label{
    font-family: Indie;
    font-size: 17px;
    margin-bottom: 10px;
    color: #fff;
}
form input{
    border-radius: 30px;
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form textarea{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form textarea:focus{
    border-radius: 15px;
}
form button{
    background: transparent;
    border: solid white;
    color: white;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 15px;
}
form button:hover{
    background-color: white;
    color: #52322F;
    border-radius: 15px;
}
/*Fim do Form*/

